@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root {
    --color1: lightcoral;
    --color2: #776969;
    /* ---------------- */



}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.caminantes2 {
    position: relative;
    width: 100vw;
}

.manos{
    display: none;
}


/* ------------------------- */






@media (min-width: 576px) {


}




@media (min-width: 768px) {

    .caminantes2 div {
        height: 20rem;
    }

    .caminantes2 div img {
        object-fit: cover;
    }

   

}