* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: lightcoral;
    --color2: #776969;
}


.encabezado {
    width: 100%;
    height: 50px;
    background-color: var(--color2);
}

.logo {
    margin-top: -22px;
    height: 90px;
    position: absolute;
    top: 0;
}


/*
clase que puede aplicarse a un elemente desde js

.active, .toggle-menu:hover {
    background-color: #555;
  } */



img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.toggle-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 1;
}



.main-menu {

    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color1);

}



.main-menu__item {
    padding: 1em;
}

.main-menu__link {
    color: white;
    text-decoration: none;
}


.caminantes {
    width: 100vw;
    height: 150vh;
    background-image: url('../recursos/caminantes.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}


.main-nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}



@media screen and (min-width:768px) {

    .main-nav {
        max-height: max-content;
    }

    .main-menu {
        flex-direction: row;

    }

    .toggle-menu {
        display: none;
    }

    .encabezado {
        display: none;
    }

    .main-menu li:first-child {
        margin-left: 10vw;
    }


}